.list {
  padding-inline-start: 0;
}

.btn {
  cursor: pointer;
  max-width: 140px;
  padding: 10px 20px;
  text-align: center;
  background-color: blue;
  border-radius: 5px;
  color: white;
  border: none;
}

.btn:disabled {
  cursor: auto;
  background-color: lightblue;
}
