.title {
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  color: #1976d2;
  padding: 50px;
}

.container {
  padding-bottom: 25px;
}

.wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}

.link {
  display: block;
  width: 144px;
  text-decoration: none;
  color: white;
  transform: scale(1);
}

.active {
  transform: scale(2);
}

.list {
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  display: flex;
  list-style: none;
}

@media screen and (max-width: 899.98px) {
  .container {
    min-height: 360px;
    background-image: url(../../images/1627127339_30-kartinkin-com-p-list-v-lineiku-fon-krasivo-31.jpg);
    background-size: contain;
  }
  .title {
    font-size: 34px;
    padding: 25px;
    margin-bottom: 0px;
  }
  .wrapper {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
  }
  .img {
    display: block;
    width: 200px;
  }
  .imgWrapper {
    margin: 0 auto;
  }
  .list {
    margin-top: 20px;
    display: block;
    text-align: center;
    list-style: none;
  }

  .item:not(:last-child) {
    margin-bottom: 24px;
  }
}

@media screen and (min-width: 600px) {
  .container {
    min-height: 600px;
    background-image: url(../../images/1627127339_30-kartinkin-com-p-list-v-lineiku-fon-krasivo-31.jpg);
    background-size: contain;
  }
}

@media screen and (min-width: 900px) {
  .container {
    min-height: 660px;
    background-image: url(../../images/1627127339_30-kartinkin-com-p-list-v-lineiku-fon-krasivo-31.jpg);
    background-size: contain;
  }

  .item:not(:last-child) {
    margin-right: 24px;
  }

  .wrapper {
    margin-top: 20px;
  }

  .img {
    display: block;
    width: 400px;
  }
}
@media screen and (min-width: 900px) {
  .container {
    min-height: 1050px;
    background-image: url(../../images/1627127339_30-kartinkin-com-p-list-v-lineiku-fon-krasivo-31.jpg);
    background-size: contain;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    min-height: 1425px;
    background-image: url(../../images/1627127339_30-kartinkin-com-p-list-v-lineiku-fon-krasivo-31.jpg);
    background-size: contain;
  }
}
