.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  margin-right: 24px;
}

.link {
  display: block;
  text-decoration: none;
  color: white;
}
